<h1>This should be the bookings index</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Class</th>
    <th>Day</th>
  </tr>
  <% for booking in @bookings %>
  <tr>
    <td><%= booking.member.name %></td>
    <td><%= booking.fitness_class.name %></td>
    <td><%= booking.fitness_class.class_day %></td>
    <td><form action="/booking/<%= booking.id %>/delete" method="post">
       <input type="submit" value="delete" />
    </form></td>
  </tr>
  <% end %>
</table>
