<h1>This should get a form to create a new class</h1>

<form action="/fitness_classes" method="post">

  <label>Enter name:</label>
    <input type="text" name="name">

  <label>Enter day:</label>
    <input type="text" name="class_day">

  <label>Enter start time:</label>
    <input type="text" name="start_time">

  <label>Enter end time:</label>
    <input type="text" name="end_time">

  <input type="submit" name="submit" value="submit">
</form>
